body {
	background-color: rgb(222, 222, 222);
}

nav {
	line-height: 60px;
    background-color: rgb(51, 51, 51);
    text-align: right;
    padding-right: 20px;
}

nav img {
	height: 60px;
	float :left;
	padding-left: 30px;
}

nav li {
  display: inline;
  margin: 0px;
  padding: 0px 10px;
  font-size: 0.75em;
}

nav a {
	text-decoration: none;
	color: #FFF;
}

p {
	text-indent: 2em;
}

.article, .aside {
	border-bottom: 2px solid rgb(159, 159, 159);
	border-right: 2px solid rgb(159, 159, 159);
	background-color: #FFF;
	margin: 20px;
	padding: 20px;
}

.article h2+h2 {
	color: rgb(160, 160, 160);
	font-size: 1em;
} 

.article h2+h5 {
	color: rgb(160, 160, 160);
} 

#ul {
	list-style: none;
}

figure {
	border: 1px solid rgb(204, 204, 204);
	height: 120px;
	width: 120px;
	text-align: center;
}

figcaption {
	height: 30px;
	line-height: 30px;
	font-size: 0.75em;
}

figure img {
	width: 80%;
}

.article li {
	font-weight: bold;
}

.article table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid rgb(204, 204, 204);
	font-size: 0.8em;
}

thead {
	background-color: rgb(51, 51, 51);
	color: #FFF;
	text-align: left;
}

tfoot {
	background-color: rgb(204, 204, 204);
	font-weight: bold;
}

th, td {
	padding: 6px;
}

.aside-header {
	border-left: 3px solid rgb(204, 204, 204);
	height: 2.5em;
	line-height: 2.5em;
	padding-left:10px;
	font-size: 1em;
}

form {
	width: 100%;
	font-size: 0.8em;
}

/* the left part of table to align right */
form table td:first-child {
	text-align: right;
}

.req {
	color: rgb(160, 160, 160);
}

form table {
	margin: 0 auto;
}

form table td {
	padding: 4px;
}

input[type=submit] {
	width: 100%;
	height: 40px;
	border: 0px;
	border-radius: 8px;
	background-color: rgb(51, 85, 208);
	color: #FFF;
	font-size: 1.2em;
	margin-top: 10px;
}

footer {
	background-color: rgb(51, 51, 51);
	text-align: center;
}

footer p {
	height: 60px;
	line-height: 60px;
	color: #FFF;
	font-size: 0.7em;
}