body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
}

header {
  height: 57px;
  overflow: hidden;
}

#name {
  height: 57px;
  line-height: 57px;
  float: left;
  font-size: 20px;
  padding-left: 55px;
}

#name img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

nav {
  height: 57px;
  line-height: 57px;
  float: right;
  padding-right: 65px;
}

nav a {
  padding-left: 25px;
  padding-right: 25px;
  color: rgb(157, 158, 163);
  text-decoration: none;
}

a:first-child {
  padding-bottom: 15px;
  border-bottom: 3px solid rgb(232,80,79);
}

a:last-child img {
  vertical-align: middle;
}

a:last-child {
  color: rgb(232,80,79);
}

#main {
  width: 1280px;
  margin: auto;
}

#home-page .picture img {
  width: 100%;
  height: 691px;
}

#slogan {
  font-size: 20px;
  color: #ffffff;
  position: absolute;
  top: 220px;
  left: 115px;
}

#slogan span {
  font-size: 56px;
  font-weight: 100;
}

#start {
  width: 330px;
  height: 65px;
  font-size: 30px;
  letter-spacing: 2px;
  color: #ffffff;
  background-color: rgb(232,80,79);
  border: none;
  position: absolute;
  top: 430px;
  left: 115px;
}

#home-page {
  position: relative;
}

#home-bottom {
  width: 100%;
  overflow: auto;
}

#home-bottom figure {
  width: 25%;
  height: 250px;
  float: left;
  text-align: center;
  padding-top: 20px;
  margin: 0;
}

#home-bottom p {
  width: 160px;
  margin: auto;
  font-size: 14px;
  margin-top: 20px;
  padding-right: 70px;
  padding-left: 70px;
  border-right: 2px solid rgb(187, 187, 187);
}

#home-bottom figure:last-child p {
  border-right: none;
}

#dont-know {
  width: 100%;
  height: 360px;
  clear: both;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(237, 237, 237);
}

#dont-know img {
  width: 100px;
  height: 100px;
  margin-top: 80px;
}

#dont-know p {
  font-size: 48px;
  letter-spacing: 3px;
  margin-top: 25px;
  color: rgb(156, 156, 156);
}

#find {
  width: 100%;
  height: 340px;
  position: relative;
}

#find img {
  width: 100%;
  height: 340px;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
}

#find h3, #find p, #find div  {
  text-align: center;
}

#find h3 {
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  padding-top: 50px;
  margin-top: 0;
}

#short-line {
  width: 30px;
  height: 0;
  margin: auto;
  border-top: 2px solid #fff;
  margin-top: -10px;
}

#find p {
  font-size: 14px;
  color: #fff;
  margin-bottom: 50px;
}

#search-for select, #search-for button {
  width: 235px;
  height: 35px;
}

#search-for select {
  margin-right: 25px;
}

select {
  /* 将默认的select选择框样式清除 */
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url(../img/arrow-down.png) no-repeat scroll right center transparent;
  background-color: #fff;
  padding-left: 10px;
}

#search-for button {
  background-color: rgb(232,80,79);
  letter-spacing: 20px;
  font-size: 15px;
  color: #fff;
  border: none;
}

#activities {
  width: 100%;
  height: 605px;
  background-color: rgb(248, 248, 248);
  position: relative;
}

#activities-center {
  overflow: auto;
  width: 1050px;
  height: 470px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -235px;
  margin-left: -525px;
}

.activity {
  float: left;
}

.activity figure {
  margin-left: 18px;
  margin-right: 18px;
}

.activity img {
  width: 200px;
  height: 310px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgb(230, 230, 230);
}

.activity-title {
  text-align: center;
  margin-top: 10px;
}

.activity:nth-child(2) .activity-title {
  font-size: 20px;
}

.activity-description {
  text-align: center;
  margin-top: -10px;
  font-size: 14px;
  color: rgb(156, 156, 156);
}

#project-introduction {
  width: 100%;
  height: 556px;
  position: relative;
  overflow: auto;
}

#project-introduction .picture {
  width: 66.666667%;
  height: 100%;
  background-image: url(../img/Tulips.jpg);
  float: left;
}

#project-introduction .picture div {
  width: 450px;
  margin: auto;
  position: relative;
  top: 140px;
}

#project-introduction .picture p {
  text-align: center;
  color: #fff;
}

#project-introduction .picture p:first-child {
  font-size: 50px;
  margin-top: 0;
}

#project-introduction .picture p:first-child span {
  line-height: 130px;
  font-size: 160px;
}

#project-introduction .picture p:last-child {
  font-size: 24px;
  line-height: 48px;
  margin-top: -40px;
}

#project-introduction .details {
  width: 33.333333%;
  height: 100%;
  float: left;
  position: relative;
}

#box {
  width: 320px;
  height: 320px;
  margin: auto;
  margin-top: 160px;
}

#container {
  width: 320px;
  height: 260px;
  position: relative;
  overflow: hidden;
}
  /* 简单轮播 */
#content {      
  width: 960px;
  height: 260px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  animation: slideshow 12s ease infinite;
}

#content li p {
  font-family: 宋体;
  font-size: 12px;
  line-height: 36px;
}

#content li h3 span {
  color: rgb(232,80,79);
}

#content li button {
  width: 105px;
  height: 33px;
  color: rgb(232,80,79);
  border: 1px solid rgb(232,80,79);
  background-color: #fff;
  position: absolute;
  left: 108px;
  bottom: 0;
}

#content li {
  list-style: none;
  float: left;
  width: 320px;
  height: 260px;
  text-align: center;
  position: relative;
}

#indexes {
  width: 60px;
  height: 10px;
  margin: auto;
  margin-top: 30px;
  position: relative;
}

#index1, #index2, #index3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid rgb(156, 156, 156);
}

#index1 {
  left: 0;
  animation: move1 12s ease infinite;
}

#index2 {
  left: 25px;
  animation: move2 12s ease infinite;
}

#index3 {
  left: 50px;
  animation: move3 12s ease infinite;
}
  /* 轮播 */
@keyframes slideshow {    
    0%, 30%{left: 0px;}                               
    35%, 65%{left: -320px;}
    70%, 100%{left: -640px;}
}

@keyframes move1 {
  0%, 30%{background-color: rgb(156, 156, 156);}
  35%, 65%{background-color: #fff;}
  70%, 100%{background-color: #fff;}
}

@keyframes move2 {
  0%, 30%{background-color: #fff;}
  35%, 65%{background-color: rgb(156, 156, 156);}
  70%, 100%{background-color: #fff;}
}

@keyframes move3 {
  0%, 30%{background-color: #fff;}
  35%, 65%{background-color: #fff;}
  70%, 100%{background-color: rgb(156, 156, 156);}
}


#project-introduction .triangle {
  border-width: 17px 30px 17px 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  width: 0;
  height: 0;
  position: absolute;
  top: 261px;
  left: -30px;
}

#love-community {
  width: 100%;
  height: 520px;
  overflow: hidden;
}

#love-community .details {
  width: 33.333333%;
  height: 100%;
  float: left;
  text-align: center;
}

#love-community .picture {
  width: 33.333334%;
  height: 100%;
  float: left;
  background-image: url(../img/find-activity.jpg);
  position: relative;
}

#love-community .picture .triangle {
  border-width: 17px 0 17px 30px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  width: 0;
  height: 0;
  position: absolute;
  top: 243px;
}

#love-community .details:first-child {
  background-color: rgb(232,80,79);
}

#love-community .details p {
  font-size: 20px;
  margin-top: 40%;
}

#love-community .details:first-child {
  color: #fff;
}

#love-community .details .separator {
  width: 30px;
  height: 0;
  margin: 20px auto;
  border: 1px solid #fff;
}

#love-community .details:nth-child(2) .separator {
  border: 1px solid rgb(171, 171, 171);
}

#love-community .details button {
  width: 169px;
  height: 43px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
  background-color: rgb(232,80,79);
  border: 1px solid #fff;
}

#love-community .details:nth-child(2) button {
  color: rgb(232,80,79);
  background-color: #fff;
  border: 1px solid rgb(232,80,79);;
}

#join {
  width: 100%;
  height: 750px;
}

#join h3 {
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0;
  padding-top: 150px;
  text-align: center;
}

#join .separator {
  width: 30px;
  height: 0;
  margin: 20px auto;
  border: 1px solid rgb(232,80,79);
}

#join p:nth-child(3) {
  text-align: center;
  font-size: 14px;
  opacity: 0.6;
}

#join-center {
  width: 1050px;
  height: 360px;
  margin: auto;
  overflow: hidden;
}

#join-center ul li {
  list-style: none;
  position: relative;
}

#join-center .more {
  text-align: right;
  font-size: 12px;
  margin-top: -16px;
}

#join-center ul li p {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
}

#terms {
  width: 340px;
  height: 100%;
  float: left;
}

#your-info {
  width: 700px;
  height: 100%;
  float: right;
  position: relative;
  overflow: auto;
}

#your-info input, #your-info textarea {
  box-sizing: border-box;
  background-color: rgb(237, 237, 239);
  border: 1px solid rgb(237, 237, 239);
}

#your-info input {
  width: 310px;
  height: 40px;
  float: right;
  margin: 10px;
  padding: 10px;
}

#your-info textarea {
  width: 640px;
  height: 120px;
  float: right;
  margin: 10px;
  padding: 10px;
}

#your-info [type="submit"] {
  width: 640px;
  font-size: 14px;
  opacity: 1;
}

#contact {
  width: 100%;
  height: 360px;
  background-color: rgb(51, 54, 63);
  text-align: center;
}

#contact h3 {
  margin-top: 0;
  padding-top: 90px;
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
}

#contact p {
  margin-top: -16px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-family: 宋体;
}

#contact input {
  box-sizing: border-box;
  width: 430px;
  height: 40px;
  font-size: 14px;
  padding: 10px;
  
}

#contact button {
  width: 80px;
  height: 40px;
  padding: 0;
  background-color: rgb(113, 113, 121);
  border: none;
  font-size: 16px;
  letter-spacing: 10px;
  color: #fff;
  vertical-align: top;
}

footer {
  height: 60px;
  background-color: rgb(48, 48, 58);
  position: relative;
}

#company {
  color: #fff;
  font-size: 12px;
  position: absolute;
  left: 100px;
  bottom: 16px;
}

#back-to-top {
  color: #fff;
  font-size: 12px;
  position: absolute;
  right: 40px;
  bottom: 16px;
}

#social {
  margin-top: 40px;
}

#social .fa {
  color: #fff;
  font-size: 26px;
  margin-left: 15px;
  margin-right: 15px;
}
