body {
	padding: 20px;
}

.main {
	overflow: auto;
	zoom: 1;
	background-color: #eee;
	border: 1px solid #999;
	padding: 20px;
}

.left {
	float: left;
	width: 200px;
	border: 1px solid #999;
	padding: 20px;
	background-color: #fff;
	margin-right: 20px;
}

.left img {
	display: inline;
	margin-right: 20px;
}

.left h4 {
	display: inline;
	vertical-align: top;
	text-transform: uppercase;
}

.right {
	float: right;
	width: 120px;
	border: 1px solid #999;
	padding-top: 20px;
	background-color: #fff;
	margin-left: 20px;
	text-align: center;
}

.center {
	border: 1px solid #999;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fff;
	overflow: auto;
}

.center p {
	text-indent: 2em;
}

img {
	width: 80px;
	height: 80px;
	border: 1px solid #999;
}

.right img {
	margin-bottom: 20px;
}