.gray {
	width: 400px;
	height: 200px;
	background-color: #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
}

.yellow1 {
	border-radius: 0 0 50px 0;
	background-color: #fc0;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 0;
	left: 0;
}

.yellow2 {
	border-radius: 50px 0 0 0;
	background-color: #fc0;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 150px;
	left: 350px;
}
