#queue {
  width: 100%;
  min-height: 122px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
}

#queue li {
  padding: 10px;
  margin: 1px;
  float: left;
  background-color: red;
  position: relative;
}

#queue li:hover {
  opacity: 0.5;
}

[type="button"] {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid gray;
  position: relative;
}

[type="button"]:hover {
  top: -1px;
}

#left-in, #right-in, #right-out {
  margin-left: 5px;
}

#left-out, #sort{
  margin-left: 30px;
}